/* uni.scss - 全局样式变量 */
$md-bg: #f7f5f0;
$md-card: #ffffff;
$md-primary: #b8751d;
$md-primary-light: #d98a2d;
$md-text: #273b59;
$md-text-sub: #516580;
$md-text-muted: #8a94a3;
$md-border: #f0ddc2;

$md-radius: 24rpx;
